<template>
  <div>
    <el-button @click="click('external')">users (jsonplaceholder)</el-button>
    <el-button @click="click('localhost')">users (localhost)</el-button>
    <el-button @click="click('file')">users (file)</el-button>
    <br />
    <br />
    <el-card
      class="box-card"
      shadow="hover"
      v-for="user in users"
      :key="user.id"
    >
      <div slot="header" class="clearfix">
        <span style="font-weight:bold;">{{ user.name }}</span>
        <el-button style="float: right; padding: 3px 0" type="text"
          >Operation button</el-button
        >
      </div>
      <!-- <div v-for="o in 4" :key="o" class="text item">
          {{'List item ' + o }}
      </div>-->
      {{ user.email }}
      <br />
      <br />
      {{ user.phone }}
    </el-card>
  </div>
</template>

<script>
// import jsonpAdapter from "axios-jsonp";
let jsonpAdapter = require("axios-jsonp");
export default {
  data() {
    return {
      users: []
    };
  },
  methods: {
    click(source) {
      console.log("clicked!", source, this);
      this.fetchUsers(source);
    },
    fetchUsers: function(source) {
      let baseURI;
      switch (source) {
        case "external":
          baseURI = "https://jsonplaceholder.typicode.com/users";
          break;
        case "localhost":
          baseURI = "/api/sampleData";
          break;
        default:
          // file
          let vm = this;
          // using vue-jsonp
          let url = "data/users_data.js";
          this.$jsonp(url, { callbackName: "callback" }).then(data => {
            console.log("data loaded from file", data);
            vm.users = data.users.sort((u1, u2) =>
              u1.name > u2.name ? 1 : -1
            );
          });
          // using axios-jsonp
          // global.callback = data => {
          //   console.log("data loaded from file", data);
          //   vm.users = data.users.sort((u1, u2) =>
          //     u1.name > u2.name ? 1 : -1
          //   );
          // };
          // this.$http({
          //   method: "get",
          //   url,
          //   adapter: jsonpAdapter
          // }).then(data => {
          //   console.log("data loaded from file, THEN", data);
          // });
          return;
          break;
      }
      console.log("baseUri: " + baseURI);
      this.$http.get(baseURI).then(result => {
        this.users = result.data;
      });
    }
  },
  created() {
    console.log("users created!");
    global.axios = this.$http;
    // global.callback = data => console.log(data);
    global.getData = function(url) {
      axios(
        // .get(url, {
        //   adaptor: jsonpAdapter
        // })
        // .then(d=>callback(data));
        { method: "get", url, adapter: jsonpAdapter }
      );
      // .then(res => console.log(res));
    };
  }
};
</script>

<style lang="scss">
.text {
  font-size: 14px;
}

.item {
  padding: 18px 0;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.box-card {
  position: relative;
  margin: auto;
  margin-top: 20px;
  text-align: left;
  width: 480px;
}
</style>