<template>
  <div id="app">
    <img src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <br>
    <router-link to="/"><span class="my-link">home</span></router-link>
    <router-link to="/about"><span class="my-link">about</span></router-link>
    <router-link to="/users"><span class="my-link">users</span></router-link>
    <br><br>
    <router-view></router-view>
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";
import Users from "./components/Users";
export default {
  name: "app",
  components: {
    HelloWorld,
    Users
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.my-link{
  padding:10px;
}
</style>